body
{
  color: white;
  background-image: url("https://i.pinimg.com/564x/27/39/bc/2739bcc5fce67b95f15002865c7f299c.jpg");
  background-size: cover;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 5px dashed white;
  width: 350px;
  height: 300px; 
}
#resultGestureName ,#resultGestureName2 
{
  color: black;
}
.gestureName
{
  font-size: 40px;
}
.hand
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius:  10px;
  letter-spacing: 10px;
}